<div class="container w-full">
<div id="my-modal">
    <div class="modal-box mx-auto">
        <div class="modal-action">
            <a href="/components/modal#">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 stroke-current">   
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>                       
                  </svg>
            </a>
        </div>
        <form #form="ngForm" (ngSubmit)="onSubmit(form)">
            <div class="form-control">
                <label for="username" class="label"><span class="label-text-alt">username or email</span></label>
                <input type="text" name="username" [(ngModel)]='loginData.email' required #userField="ngModel" class="input input-bordered"
                [class.border-red-500]="form.submitted && userField.invalid">
            </div>
            <div class="form-control">
                <label for="password" class="label"><span class="label-text-alt">password</span></label>
                <input type="password" name="password" required [(ngModel)]='loginData.password' #pasField="ngModel" class="input input-bordered"
                [class.border-red-500]="form.submitted && pasField.invalid">
            </div>
            <button type="submit" class="my-10 btn btn-primary">login</button>
        </form>
    </div>
</div>
</div>

