<div class="navbar bg-purple-50  h-1/5 w-screen">
      <div class=""><span>Canditate's Portal</span></div>
      <!-- <svg xmlns="http://www.w3.org/2000/svg" className="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2} d="M4 6h16M4 12h16M4 18h7" />
      </svg> -->
      <div class="flex-1 px-2 mx-2">
          <div tabindex="0" class="items-stretch hidden md:flex">
            <div tabindex="0" class="flex-none hidden"><svg xmlns="http://www.w3.org/2000/svg" className="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2} d="M4 6h16M4 12h16M4 18h7"/>
            </svg></div>
            <a href="/" class="btn btn-ghost btn-sm rounded-btn">
                    Home
                  </a> 
            <a routerLink="/president" class="btn btn-ghost btn-sm rounded-btn">
                    President
                  </a> 
            <a routerLink="/county" class="btn btn-ghost btn-sm rounded-btn">
                    Candidates
                  </a> 
          </div>
        </div>
        <div *ngIf="!is_loggedin">
            <div class="flex-none">
              <a routerLink="/login" class="btn btn-primary">Login</a>
            </div>
            <div class="flex-none ml-3">
              <a routerLink="/signup" class="btn btn-accent">Signup</a>
            </div>
        </div>
        <div *ngIf="is_loggedin">
          <div class="flex-none">
            <a routerLink="/user">profile</a>
          </div>
          <div class="flex-none">
            <a routerLink="/account">account</a>
          </div>
          <div class="flex-none">
            <a class="btn btn-primary" (click)="logout()">Logout</a>
          </div>
        </div>
  </div>
  <div class="w-screen"><router-outlet></router-outlet></div>

