<div class="w-screen h-screen bg-base-100">
    <div class="grid grid-cols-12" *ngIf="candidates">
        <div *ngFor="let candidate of candidates" class="card col-span-12 md:col-span-6 lg:col-span-4 m-5 bg-indigo-50 shadow-xl">
            <div class="avatar">
                <div class="w-72 rounded-xl">
                    <img [src]='candidate.photo'>
                </div> 
            </div>
        <div class="card-body">
            <h2 class="card-title">{{candidate?.firstname}} {{candidate?.lastname}}</h2>
            <h4 class="text-yellow-900">{{candidate?.party}}</h4>
            <p>{{candidate?.bio}}</p>
        </div>
        
        </div>
</div>
</div>